<ul>
<li><a
 href="/assets/images/solar-we-31-1200.jpg"><img border="0"
 src="/assets/images/solar-we-31-240.jpg" width="240" height="154"
alt="1" title="A. Weinert im Solarrennwagen -&gt; gro&szlig;es Bild"
/></a></li>
<li><a
 href="/assets/images/lab-3worker.jpg"><img border="0"
 src="/assets/images/lab-3worker-240.jpg" width="240" height="154"
alt="2" title="Arbeit in Prof. Weinerts Labor -&gt; gro&szlig;es Bild"
/></a></li>
<li><a href="//a-weinert.de/publication.html"><img border="0"
src="/assets/images/weinert-scsc.jpg" width="240" height="154"
alt="3"
title="A. Weinert forscht (sucht ein Buch) -&gt; publication" /></a></li>
<li><a href="//a-weinert.de/publication.html"><img border="0"
src="/assets/images/weinert-cafe-240.jpg" width="240" height="154"
alt="4"
title="Kein IT (-&gt;) Projekt ohne Kaffee" /></a></li>
<li><a href="//frame4j.de/index_en.html"><img  border="0"
src="/assets/images/mueritz-01-240.jpg" width="240" height="154"
alt="5" title="mit Java zu neuen Horizonten -&gt; Framework"
/></a></li>
<li><a href="/assets/images/weinert-sail.jpg"><img border="0"
 src="/assets/images/weinert-sail-240.jpg" width="240" height="154"
alt="6" title="Alles unter Kontrolle -&gt; gro&szlig;es Bild"
/></a></li>
<li><a href="/assets/images/fh-solar-gn.jpg"><img border="0"
 src="/assets/images/fh-solar-gn-240.jpg" width="240" height="154"
 alt="7"
title="Mit Elektromobilität zu neues Horizonten (BOcruiser) -&gt; gro&szlig;es Bild"
/></a></li>
</ul>
