<ul class="sf-menu" id="top-nav-we-en-1">
  <li><a href="https://weinert-automation.de/index_en.html" class="b0red"
     title="weinert-automation &mdash; Dr.-Ing. Albrecht Weinert">weAut</a></li>

 <li><a href="http://a-weinert.de/index_en.html"
       title="Prof. Dr.-Ing. Albrecht Weinert">weinert</a><ul>
   <li><a href="http://a-weinert.de/lehre/index_en.html"
       title="Teaching by and with Prof. Dr. A. Weinert">teach</a></li>
  </ul></li>
 <li><a href="http://a-weinert.de/publication_en.html"
    title="Publications by  Albrecht Weinert">publ</a></li>
 <li><a href="http://a-weinert.de/cv-pub_en.html"
    title="Albrecht Weinert's short CV">c.v.</a></li>

 <li><a href="https://a-weinert.github.io/index.html"
     title="Albrecht Weinert's blog">blog</a><ul>
  <li><a href="https://github.com/a-weinert"
     title="Albrecht Weinert on git">git</a></li>
  <li><a href="https://github.com/a-weinert"
     title="Albrecht Weinert on git">git</a></li>
  <li><a href="https://blog.a-weinert.de/le_blog/?lang=en"
     title="old Wordpress blog (will be shut down)">former blog</a></li>
 </ul></li>
</ul>