<ul class="sf-menu" id="top-nav-we-de-1">
<!-- topNav-we-de-1.txt 
 Note: Ugly HTML entities for Umlauts only cause of usage in UTF8 blog, too
--> 
  <li><a href="https://weinert-automation.de/index.html" class="b0red"
     title="weinert-automation &mdash; Dr.-Ing. Albrecht Weinert">weAut</a></li>
 <li><a href="http://a-weinert.de/index.html"
       title="Prof. Dr.-Ing. Albrecht Weinert">weinert</a><ul>
   <li><a href="http://a-weinert.de/lehre/index.html"
       title="Lehre von und mit Prof. Dr. A. Weinert">lehre</a></li>
 </ul></li>
 <li><a href="http://a-weinert.de/publication.html"
    title="Publikationen von Albrecht Weinert">publ</a></li>
 <li><a href="http://a-weinert.de/cv-pub.html"
    title="Kurzlebenslauf von Albrecht Weinert">c.v.</a></li>
 <li><a href="https://a-weinert.github.io/index_de.html"
     title="Blog von A. Weinert">blog</a><ul>
  <li><a href="https://github.com/a-weinert"
     title="Albrecht Weinert bei git">git</a></li>
 </ul></li>
</ul>
