---
layout: weAutDefault
---
{%- include calcPageVals.inc -%} 
{{ content }}

{%- if site.posts.size > 0 -%}
  {%- if pageLang == "de"  -%}
    {%- assign date_format = site.minima.date_format | default: "%-d. %-m. %Y" -%}
    <h4>{{ page.list_title | default: "Beiträge" }}</h4>
    <ul class="post-list">
      {%- for post in site.posts -%}
       {%- if post.dePage and post.lang != "de" -%}
         {% continue %}
       {%- endif -%}
      <li>
        <span class="post-meta">{{ post.date | date: date_format }}</span><br />
         <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
  {%- else -%}
    <h4>{{ page.list_title | default: "Posts" }}</h4>
    {%- assign date_format = "%b %-d, %Y" -%}
    <ul class="post-list">
      {%- for post in site.posts -%}
       {%- if post.enPage and post.lang != "en" -%}
         {% continue %}
       {%- endif -%}
      <li>
        <span class="post-meta">{{ post.date | date: date_format }}</span><br />
         <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
   
  {%- endif -%}
  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
{%- endif -%}
