---
layout: weAutDefault
---
{%- include calcPageVals.inc -%} 
{{ content }}

{%- if site.posts.size > 0 -%}
  {%- if pageLang == "de"  -%}
    {%- assign date_format = site.minima.date_format | default: "%-d. %-m. %Y" -%}
    <h4><b>{{ page.list_title | default: "Beiträge" }}</b></h4>
    <ul class="post-list">
      {%- for post in site.posts -%}
       {%- if post.dePage and post.lang != "de" -%}
         {% continue %}
       {%- endif -%}
      <li>
       <span class="post-meta">{{ post.date | date: date_format }}</span><br />
        {%- if page.show_excerpts -%}
        <h3><a href="{{ post.url }}" rel="bookmark" 
        title="Permanent Link zu {{post.title}}">{{post.title}}</a></h3> 
{%- assign size = post.excerpt | size | minus: 6 -%}
         {{ post.excerpt  | slice: 0, size }} .. <a 
          href="{{ site.baseurl }}{{ post.url }}"
          > ..&nbsp;Mehr lesen</a></p><hr /> {%- else -%}
                  
         <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
  {%- else -%}
    <h4><b>{{ page.list_title | default: "Posts" }}</b></h4>
    {%- assign date_format = "%b %-d, %Y" -%}
    <ul class="post-list">
      {%- for post in site.posts -%}
       {%- if post.enPage and post.lang != "en" -%}
         {% continue %}
       {%- endif -%}
      <li>
        <span class="post-meta">{{ post.date | date: date_format }}</span><br />
                {%- if page.show_excerpts -%}
        <h3><a href="{{ post.url }}" rel="bookmark" 
title="Permanent Link to {{post.title}}">{{post.title}}</a></h3> 
{%- assign size = post.excerpt | size | minus: 6 -%}
         {{ post.excerpt  | slice: 0, size }} .. <a 
          href="{{ site.baseurl }}{{ post.url }}"
          > ..&nbsp;Read more</a></p><hr /> {%- else -%}
         <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        {%- endif -%}
        
      </li>
      {%- endfor -%}
    </ul>
   
  {%- endif -%}
<!--  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p> -->
{%- endif -%}
